{% extends 'base.html.twig'%}
{% block body %}
    <br>
    <br>
    <br>
    <div class="container padding-bottom-3x mb-2 mt-5" style="background:white;">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="forgot">

                    <h2>Mot de passe oublié?</h2>
                    <p>
                        Modifiez votre mot de passe en trois étapes faciles. Cela vous aidera à sécuriser votre mot de passe !</p>
                    <ol class="list-unstyled">
                        <li><span class="text-primary text-medium">1. </span>Entrez votre adresse e-mail ci-dessous.</li>
                        <li><span class="text-primary text-medium">2. </span>Notre système vous enverra un lien temporaire</li>
                        <li><span class="text-primary text-medium">3. </span>Utilisez le lien pour réinitialiser votre mot de passe</li>
                    </ol>

                </div>	

                {{form_start(form)}}
                <div class="card-body">
                    <div class="form-group">
                        {{form_widget(form.email)}}
                    </div>
                </div>
                <div class="card-footer" style="display:flex;margin-right:50px;">
                    {{form_row(form.submit)}}
                    <a href="{{path('app_user_login')}}" class="btn btn-danger btn-sm" type="submit">Retour</a>
                </div>
                {{form_end(form)}}
            </div>
        </div>
    </div>

{% endblock %}