
{% extends 'layout.html.twig' %}

{% block title %}Commentaire-{{comment.trick.slug}}{% endblock %}
{% block stylesheet %}
    <link href="{{asset('css/commentShow.css')}}" rel="stylesheet" type="text/css"> 
{% endblock %}
{% block admin %}
    <div class="container mt-5 mb-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="images p-3">
                                {% for image in comment.trick.images%}
                                    {%if image.isFirst == 1%}
                                        <div class="text-center p-4"> <img id="main-image" src="{{image.name}}" width="500"  class="img-thumbnail"/> </div>
                                        {%else%}
                                        <div class="thumbnail text-center"> 
                                            <img onclick="change_image(this)" src="{{image.name}}" width="70" style="float:left; margin-right:10px;" class="img-thumbnail"> 
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="product p-4">
                                <div class="mt-4 mb-3"> <span class="text-uppercase text-muted brand">Nom du Trick:{{comment.trick.name}}</span>
                                    <hr>
                                    <h5 class="text-uppercase">Description:{{comment.trick.description|slice(1,20)}}</h5>
                                    <hr>
                                    <div class="price d-flex flex-row align-items-center"> <span class="act-price">Posté par:</span>
                                        <div class="ml-2"> <span>{{comment.user.firstname|upper}} {{comment.user.lastname|upper}}</span> </div>
                                        <hr>
                                        <img alt="" src="{{comment.user.avatar}}" class="img-thumbnail" style="width=50px;height:50px"/>
                                    </div>
                                    <hr>
                                </div>
                                <p class="about">Commentaire:{{comment.content}}</p>
                                <div class="sizes mt-5">
                                    <h6 class="text-uppercase">Posté le:</h6> <label class="radio"> {{comment.createdAt|date('d/m/y à H:i:s')}} </label>
                                </div>
                                <hr>
                                <div class="cart mt-4 align-items-center"> 
                                    <br><br>
                                    <div class="custom-control custom-switch" style="display:flex;">
                                        {{ include('comment/_delete_form.html.twig') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
