{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheet %}
    
<link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="main">
                <section class="signup">
                    <div class="container">
                        <div class="signup-content">
                            <div class="signup-form" style="margin:0 auto;">
                                <h2 class="form-title">Inscription:</h2>
                                {{ form_start(form) }}
                                    <div class="form-group">
                                        {{ form_row(form.firstname) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_row(form.lastname) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_row(form.email) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_row(form.password) }}
                                    </div>
                                    {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    {% endblock %}
