 <!doctype html>
 <html lang="fr">
     <head>
         <meta charset="utf-8">
         <meta http-equiv="x-ua-compatible" content="ie=edge">
         <title>Men&#039;s Snowboard Bindings 2021/22 | Flow</title>
         <meta name="description" content="Fastest, simplest, and most convenient snowboard bindings including our adored NX2, Fuse, Fenix, Nexus and more. Flow bindings are the quickest easy in-and-out snowboard bindings on Planet Earth. Sick since 1996!">
         <meta name="keywords" content="">
         <link rel="canonical" href="https://www.flow-bindings.com/fr/19-men">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
 <link rel="stylesheet" href="{{asset('css/styles.css')}}">
 <link rel="stylesheet" href="{{asset('css/grayscale.min.css')}}">
 <link rel="stylesheet" href="{{asset('css/custom.css')}}">
 <link rel="stylesheet" href="{{asset('css/zoombox.css')}}">
         {% block stylesheet %} {% endblock %}
         <meta name="facebook-domain-verification" content="yws4wi89a71upbbewl0w6hjvi6qa5h"/>
         <meta name="google-site-verification" content="xzLRqnHiC5pVaF_Pe2EhMuYV9krkwStrqhEVZElbx5w"/>
         <!-- Global site tag (gtag.js) - Google Ads: 435190681 -->
         <link rel="stylesheet" href="https://static1.flow-bindings.com/themes/flow/assets/cache/theme-4d99a5446.css" media="all">
         <script async src="https://www.googletagmanager.com/gtag/js?id=AW-435190681"></script>
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="icon" type="image/vnd.microsoft.icon" href="https://static2.flow-bindings.com/img/favicon-2.ico?1626166108">
         <link rel="shortcut icon" type="image/x-icon" href="https://static2.flow-bindings.com/img/favicon-2.ico?1626166108">
         <script type="text/javascript">
                     var pixel_fc = "https:\/\/www.flow-bindings.com\/fr\/module\/pspixel\/FrontAjaxPixel";
                     var prestashop = {"cart":{"products":[],"totals":{"total":{"type":"total","label":"Total","amount":0,"value":"0,00\u00a0\u20ac"},"total_including_tax":{"type":"total","label":"Total TTC","amount":0,"value":"0,00\u00a0\u20ac"},"total_excluding_tax":{"type":"total","label":"Total HT :","amount":0,"value":"0,00\u00a0\u20ac"}},"subtotals":{"products":{"type":"products","label":"Sous-total","amount":0,"value":"0,00\u00a0\u20ac"},"discounts":null,"shipping":{"type":"shipping","label":"Livraison","amount":0,"value":""},"tax":{"type":"tax","label":"Taxes incluses","amount":0,"value":"0,00\u00a0\u20ac"}},"products_count":0,"summary_string":"0 articles","vouchers":{"allowed":1,"added":[]},"discounts":[],"minimalPurchase":0,"minimalPurchaseRequired":""},"currency":{"name":"Euro","iso_code":"EUR","iso_code_num":"978","sign":"\u20ac"},"customer":{"lastname":null,"firstname":null,"email":null,"birthday":null,"newsletter":null,"newsletter_date_add":null,"optin":null,"website":null,"company":null,"siret":null,"ape":null,"is_logged":false,"gender":{"type":null,"name":null},"addresses":[]},"language":{"name":"Fran\u00e7ais (French)","iso_code":"fr","locale":"fr-FR","language_code":"fr","is_rtl":"0","date_format_lite":"d F Y","date_format_full":"d F Y H:i:s","id":3},"page":{"title":"","canonical":"https:\/\/www.flow-bindings.com\/fr\/19-men","meta":{"title":"Men's Snowboard Bindings 2021\/22 | Flow","description":"Fastest, simplest, and most convenient snowboard bindings including our adored NX2, Fuse, Fenix, Nexus and more. Flow bindings are the quickest easy in-and-out snowboard bindings on Planet Earth. Sick since 1996!","keywords":"","robots":"index"},"page_name":"category","body_classes":{"lang-fr":true,"lang-rtl":false,"country-FR":true,"currency-EUR":true,"layout-left-column":true,"page-category":true,"tax-display-enabled":true,"category-id-19":true,"category-Men":true,"category-id-parent-10":true,"category-depth-level-3":true},"admin_notifications":[]},"shop":{"name":"Nidecker SA","logo":"https:\/\/static2.flow-bindings.com\/img\/flow-logo-16260943742.jpg","stores_icon":"https:\/\/static2.flow-bindings.com\/img\/logo_stores.png","favicon":"https:\/\/static2.flow-bindings.com\/img\/favicon-2.ico"},"urls":{"base_url":"https:\/\/www.flow-bindings.com\/","current_url":"https:\/\/www.flow-bindings.com\/fr\/19-men","shop_domain_url":"https:\/\/www.flow-bindings.com","img_ps_url":"https:\/\/static2.flow-bindings.com\/img\/","img_cat_url":"https:\/\/static1.flow-bindings.com\/img\/c\/","img_lang_url":"https:\/\/static3.flow-bindings.com\/img\/l\/","img_prod_url":"https:\/\/static2.flow-bindings.com\/img\/p\/","img_manu_url":"https:\/\/static3.flow-bindings.com\/img\/m\/","img_sup_url":"https:\/\/static1.flow-bindings.com\/img\/su\/","img_ship_url":"https:\/\/static3.flow-bindings.com\/img\/s\/","img_store_url":"https:\/\/static1.flow-bindings.com\/img\/st\/","img_col_url":"https:\/\/static3.flow-bindings.com\/img\/co\/","img_url":"https:\/\/static3.flow-bindings.com\/themes\/flow\/assets\/img\/","css_url":"https:\/\/static2.flow-bindings.com\/themes\/flow\/assets\/css\/","js_url":"https:\/\/static3.flow-bindings.com\/themes\/flow\/assets\/js\/","pic_url":"https:\/\/static2.flow-bindings.com\/upload\/","pages":{"address":"https:\/\/www.flow-bindings.com\/fr\/address","addresses":"https:\/\/www.flow-bindings.com\/fr\/addresses","authentication":"https:\/\/www.flow-bindings.com\/fr\/connexion","cart":"https:\/\/www.flow-bindings.com\/fr\/cart","category":"https:\/\/www.flow-bindings.com\/fr\/index.php?controller=category","cms":"https:\/\/www.flow-bindings.com\/fr\/index.php?controller=cms","contact":"https:\/\/www.flow-bindings.com\/fr\/nous-contacter","discount":"https:\/\/www.flow-bindings.com\/fr\/reduction","guest_tracking":"https:\/\/www.flow-bindings.com\/fr\/suivi-commande-invite","history":"https:\/\/www.flow-bindings.com\/fr\/historique-commandes","identity":"https:\/\/www.flow-bindings.com\/fr\/identite","index":"https:\/\/www.flow-bindings.com\/fr\/","my_account":"https:\/\/www.flow-bindings.com\/fr\/my-account","order_confirmation":"https:\/\/www.flow-bindings.com\/fr\/order-confirmation","order_detail":"https:\/\/www.flow-bindings.com\/fr\/index.php?controller=order-detail","order_follow":"https:\/\/www.flow-bindings.com\/fr\/suivi-commande","order":"https:\/\/www.flow-bindings.com\/fr\/order","order_return":"https:\/\/www.flow-bindings.com\/fr\/index.php?controller=order-return","order_slip":"https:\/\/www.flow-bindings.com\/fr\/avoirs","pagenotfound":"https:\/\/www.flow-bindings.com\/fr\/page-introuvable","password":"https:\/\/www.flow-bindings.com\/fr\/recuperation-mot-de-passe","pdf_invoice":"https:\/\/www.flow-bindings.com\/fr\/index.php?controller=pdf-invoice","pdf_order_return":"https:\/\/www.flow-bindings.com\/fr\/index.php?controller=pdf-order-return","pdf_order_slip":"https:\/\/www.flow-bindings.com\/fr\/index.php?controller=pdf-order-slip","prices_drop":"https:\/\/www.flow-bindings.com\/fr\/promotions","product":"https:\/\/www.flow-bindings.com\/fr\/index.php?controller=product","search":"https:\/\/www.flow-bindings.com\/fr\/recherche","sitemap":"https:\/\/www.flow-bindings.com\/fr\/plan-site","stores":"https:\/\/www.flow-bindings.com\/fr\/magasins","supplier":"https:\/\/www.flow-bindings.com\/fr\/fournisseur","register":"https:\/\/www.flow-bindings.com\/fr\/connexion?create_account=1","order_login":"https:\/\/www.flow-bindings.com\/fr\/order?login=1"},"alternative_langs":{"en-us":"https:\/\/www.flow-bindings.com\/en\/19-men","de":"https:\/\/www.flow-bindings.com\/de\/19-men","fr":"https:\/\/www.flow-bindings.com\/fr\/19-men","ja-jp":"https:\/\/www.flow-bindings.com\/ja\/19-men","ru-ru":"https:\/\/www.flow-bindings.com\/ru\/19-men"},"theme_assets":"\/themes\/flow\/assets\/","actions":{"logout":"https:\/\/www.flow-bindings.com\/fr\/?mylogout="},"no_picture_image":{"bySize":{"small_default":{"url":"https:\/\/static2.flow-bindings.com\/img\/p\/fr-default-small_default.jpg","width":98,"height":98},"cart_default":{"url":"https:\/\/static3.flow-bindings.com\/img\/p\/fr-default-cart_default.jpg","width":125,"height":125},"home_default":{"url":"https:\/\/static2.flow-bindings.com\/img\/p\/fr-default-home_default.jpg","width":250,"height":250},"medium_default":{"url":"https:\/\/static1.flow-bindings.com\/img\/p\/fr-default-medium_default.jpg","width":452,"height":452},"large_default":{"url":"https:\/\/static3.flow-bindings.com\/img\/p\/fr-default-large_default.jpg","width":800,"height":800}},"small":{"url":"https:\/\/static2.flow-bindings.com\/img\/p\/fr-default-small_default.jpg","width":98,"height":98},"medium":{"url":"https:\/\/static2.flow-bindings.com\/img\/p\/fr-default-home_default.jpg","width":250,"height":250},"large":{"url":"https:\/\/static3.flow-bindings.com\/img\/p\/fr-default-large_default.jpg","width":800,"height":800},"legend":""}},"configuration":{"display_taxes_label":true,"display_prices_tax_incl":true,"is_catalog":false,"show_prices":true,"opt_in":{"partner":false},"quantity_discount":{"type":"discount","label":"Remise sur prix unitaire"},"voucher_enabled":1,"return_enabled":0},"field_required":[],"breadcrumb":{"links":[{"title":"Accueil","url":"https:\/\/www.flow-bindings.com\/fr\/"},{"title":"Home","url":"https:\/\/www.flow-bindings.com\/fr\/10-home"},{"title":"Men","url":"https:\/\/www.flow-bindings.com\/fr\/19-men"}],"count":3},"link":{"protocol_link":"https:\/\/","protocol_content":"https:\/\/"},"time":1647331772,"static_token":"19e01c4e5f5eb25fbc3ce4f1532ae6b0","token":"91b7f0120e4d7f0efddef9a057372fe0","debug":false,"modules":{"ndk_tools":null}};
                     var yotpoAppkey = "A2ZnWaUisKB5d4cjKFhMdfNzd0KtJ5VHQozFJerv";
                     var yotpoReviewsTab = true;
         </script>
         <script>
       var gtmId = 'GTM-MB6C643';
         </script>
         <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
         new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
         j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
         'https://www.googletagmanager.com/gtm.js?id='+gtmId+i+dl;f.parentNode.insertBefore(j,f);
         })(window,document,'script','dataLayer','');
         </script>
         <!-- Facebook Pixel Code -->
         <script>
             !function(f,b,e,v,n,t,s)
             {if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)};
             if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.agent='plprestashop-download'; // n.agent to keep because of partnership
             n.queue=[];t=b.createElement(e);t.async=!0;
             t.src=v;s=b.getElementsByTagName(e)[0];
             s.parentNode.insertBefore(t,s)}(window, document,'script', 'https://connect.facebook.net/en_US/fbevents.js');
                     fbq('init', '396671751665126');
             fbq('track', 'PageView');
         </script>
         <noscript>
     <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=396671751665126&ev=PageView&noscript=1"/>
     </noscript>
     <!-- End Facebook Pixel Code -->

     <!-- Set Facebook Pixel Product Export -->
     <!-- END OF Set Facebook Pixel Product Export -->


     <script>
         fbq('trackCustom', 'ViewCategory', {content_name: 'Men FR', content_category: 'Accueil > Home > Men', content_ids: ['74', '84', '75', '85', '92', '93', '390', '391', '76', '86'], content_type: 'product'});
     </script>
 </head>
 <body id="category" class="lang-fr country-fr currency-eur layout-left-column page-category tax-display-enabled category-id-19 category-men category-id-parent-10 category-depth-level-3 elementor-page elementor-page-19040302">
     {% include 'shared/_navbar.html.twig' %}  
     
     {% block body %} {% endblock %}
     <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
     <script src="{{ asset('js/jquery.easing.min.js') }}"></script>
     <script>
         $('.dropdown-toggle').dropdown();
     </script>
     <!-- Custom scripts for this template -->
     <script src="{{ asset('js/grayscale.min.js') }}"></script>
     <script src="{{ asset('js/popconfirm.js') }}"></script>
     <script>
         $("[data-toggle='confirmation']").popConfirm({
             title: "Supprimer ce trick ?", // The title of the confirm
             //content: "I have warned you !", // The message of the confirm
             placement: "bottom", // The placement of the confirm (Top, Right, Bottom, Left)
             container: "body", // The html container
             yesBtn: "Supprimer",
             noBtn: "Annuler"
         });
     </script>

     <script>
         $(function () {
             $(".box-card").slice(0, 15).show();
             $("#loadMore").on('click', function (e) {
                 e.preventDefault();
                 $(".fa-arrow-up:hidden").slideDown();
                 $(".box-card:hidden").slice(0, 5).slideDown();
                 if ($(".box-card:hidden").length == 0) {
                     $("#load").fadeOut('slow');
                 }
                 $('html,body').animate({
                     scrollTop: $(this).offset().top
                 }, 1500);
             });
         });
     </script>
     <noscript>
     <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MB6C643" height="0" width="0" style="display:none;visibility:hidden"></iframe>
     </noscript>
     <script src="https://static2.flow-bindings.com/themes/flow/assets/cache/bottom-c5a540445.js" ></script>
     {% block javascript %} {% endblock %}
 </body>
 </html>
