{% macro niceForm(form) %}
    {{form(form)}}
{% endmacro niceForm %}
{% import _self as formMacros %}
<div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div id="content-header" class="clearfix">
                    <div class="float-left">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active"><span>Trick</span></li>
                            <li class="active"><span>{{action}}</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="main-box">
                    <header class="main-box-header clearfix">
                        <h2>{{action}}</h2>
                    </header>
                    <div class="main-box-body clearfix">
                        <div class="container">
                        {{form_start(form)}}
                            {{ form_widget(form.name) }}
                            {{ form_widget(form.description)}}
                            {{ form_widget(form.slug) }}
                            {{ form_widget(form.categorie) }}
                            {{ form_widget(form.images) }}
                            <h3>Videos</h3>
                            <ul class="videos" 
                            data-prototype="{{ formMacros.niceForm(form.videos.vars.prototype)|e('html_attr') }}>
                                {% for video in form.videos %}
                                    <li> {{formMacros.niceForm(video)}}</li>
                                {% endfor %}
                            </ul>
                        {{ form_errors(form) }}
                        <button type="button" class="add_item_link" data-collection-holder-class="tags">Add a Video</button>
                    {{ form_errors(form.videos) }}
                        <hr>
                            {{ form_widget(form.submit)}}
                </div>
                        {{form_end(form)}}
            </div>
                    {% if app.request.attributes.get('_route') == "app_trick_edit" %}
                                <h2>Images</h2>
                                <hr>
                                <div class="row">
                                    {% for image in trick.images %}
                                    <div class="col-md-3" style="margin-right:5px;">
                                        <img src="{{asset('/uploads/' ~ image.name)}}" class="rounded mx-auto d-block" width="150px; height=150px">
                                        {# On ajoute un lien permettant de supprimer une image (sera géré en Ajax) #}
                                        <a href="{{ path('app_trick_image_delete', {id: image.id})}}" data-delete data-token="{{ csrf_token('delete' ~ image.id )}}" class="btn btn-danger mt-1">Delete</a>
                                    </div>
                                    {% endfor %}
                                </div>
                                <h2>Videos</h2>
                                <hr>
                                <div class="row">
                                    {% for video in trick.videos %}
                                    <div class="col-md-3" style="margin-right:5px;">
                                        <iframe src="{{video.url}}" class="rounded mx-auto d-block" width="150px; height=150px"></iframe>
                                        {# On ajoute un lien permettant de supprimer une image (sera géré en Ajax) #}
                                        <a href="{{ path('app_video_delete', {id: video.id})}}" data-delet data-token="{{ csrf_token('delete' ~ video.id )}}" class="btn btn-danger mt-1">Delete</a>
                                    </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                </div>
            </div>
            <div class="col-lg-6">
                <img src="{{asset('images/bannierre.jpg')}}" alt="" width="600px" height="510px">
            <div>
        </div>
</div>
