{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="css/libs/nanoscroller.css" />
    <link rel="stylesheet" type="text/css" href="{{asset('css/theme_styles.css')}}" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
{% endblock %}
{% block title %}
    Liste des Tricks
{% endblock %}
{% block admin %}
    <div class="container mb-5">
        <div class="row">
            {% if app.flashes is defined %}
                {% for message in app.flashes('error') %}
                <div class="col-lg-12 text-center">
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                </div>
                {% endfor %}
                {% for message in app.flashes('success') %}
                    <div class="col-lg-12 text-center">
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
           {% endif %}
            <div class="col-lg-12">
                <div id="content-header" class="clearfix">
                    <div class="float-left">
                        <ol class="breadcrumb">
                            <li><a href="{{path('app_tricks_lists')}}">Acceuil</a></li>
                            <li class="active"><span>Tricks</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box clearfix">
                    <header class="main-box-header clearfix">
                        <h2 class="float-left">Gestion des  Tricks</h2>
                        <div id="reportrange" class="float-right daterange-filter">
                            <a href="{{ path('app_trick_new') }}" class="btn btn-primary float-right">
                                <i class="fa fa-plus-circle fa-lg"></i> Ajouter un Trick
                            </a>
                        </div>
                    </header>
                    <div class="main-box-body clearfix">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><a href="#"><span>ID</span></a></th>
                                        <th><a href="#" class="desc"><span>NON DU TRICK</span></a></th>
                                        <th><a href="#" class="desc"><span>SLUG</span></a></th>
                                        <th><a href="#" class="desc"><span>CRÉÉ LE</span></a></th>
                                        <th><a href="#" class="desc"><span>ACTIONS</span></a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for trick in paginations %}
                                        <tr>
                                            <td>
                                                {{ trick.id }}
                                            </td>
                                            <td>
                                                {{ trick.name }}
                                            </td>
                                            <td>
                                                {{ trick.slug }}
                                            </td>
                                            <td>
                                                {{ trick.createdAt|date('d/m/y') }}
                                            </td>
                                            <td style="width: 30%;">
                                                <a style="float:left;" href="{{path('app_trick_comments',{'id':trick.id})}}" class="table-link primary">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                                <a  style="float:left;" href="{{path('app_trick_show',{'id':trick.id})}}" class="table-link success">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                                <a style="float:left;"  href="{{path('app_trick_edit',{'id':trick.id})}}" class="table-link success">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                                <a style="float:left;"  href="{{path('app_trick_images',{'id':trick.id})}}" class="table-link success">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-image fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                                <a style="float:left;"  href="{{path('app_trick_videos',{'id':trick.id})}}" class="table-link success">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-video fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                                {{ include('trick/_delete_form.html.twig') }}
                                            </td>
                                        </tr>
                                    {%else%}
                                        <tr>
                                            <td colspan="7">
                                                <div class="alert alert-danger">
                                                    aucun enregistrement trouvé
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="navigation">
                            {{ knp_pagination_render(paginations) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

