{% extends 'layout.html.twig' %}

{% block title %}Trick{% endblock %}

{% block admin %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">{{trick.name}}</h1>
    </div>
</section>
<div class="container">
    <div class="row">
        <!-- Image -->
        <div class="col-12 col-lg-6">
            <div class="card bg-light mb-3" style="height:666.5px">
            {% for image in trick.images %}
                {% if image.isFirst == 1%}
                <div class="card-body">
                    <a href="" data-toggle="modal" data-target="#productModal">
                        <img class="img-fluid" src="{{asset('/uploads/'~ image.name)}}" />
                    </a>
                </div>  
                {% endif %}
            {% endfor %}
            </div>
        </div>

        <!-- Add to cart -->
        <div class="col-12 col-lg-6 add_to_cart_block">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <div class="comment-widgets">
                        <!-- Comment Row -->
                        <div class="d-flex flex-row comment-row mt-3">
                            <div class="p-2"><img src="{{asset('/uploads/'~trick.user.avatar)}}" alt="user" width="50" class="rounded-circle"></div>
                            <div class="comment-text w-100 mb-3">
                                <h6 class="font-medium" style="font-weight:bold;">{{trick.user.firstname|upper}} {{trick.user.lastname|upper}}</h6> 
                                <p>
                                  {% if trick.activated == 0 %} 
                                  <span class="badge badge-danger" style="float:left;">Inactive</span> 
                                  {% else %}
                                  <span class="badge badge-success" style="float:left;">Active</span>
                                  {% endif %}
                                </p>
                                <br>
                                <hr>
                                <div class="comment-footer pr-2" style="font-weight:bold;"> <span class="text-muted float-right">published at: {{trick.createdAt|date('d/m/y à H:i:s')}}
                                </span>  
                                <a type="button" href="{{path('app_trick_activated',{'id':trick.id})}}" class="btn btn-success btn-sm mr-1" style="float:left;"><i class="fas fa-newspaper"></i></a>
                                {{ include('trick/_delete_form.html.twig') }}
                            </div>
                        </div> <!-- Comment Row -->
                    </div> <!-- Card -->
                    <form method="get" action="cart.html">
                        <div class="form-group">
                            <label for="colors" style="font-weight:bold;">Categorie</label>
                            <br>
                            {{trick.categorie.name}}
                        </div>
                        <div class="form-group">
                            <label for="colors" style="font-weight:bold;">Slug</label>
                            <br>
                            {{trick.slug}}
                        </div>
                        <div class="form-group">
                            <label for="colors" style="font-weight:bold;">Name</label>
                            <br>
                            {{trick.name}}
                        </div>
                        <div class="form-group">
                            <label style="font-weight:bold;">Comments Count :</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    {{trick.comments|length}}
                                </div>
                            </div>
                        </div>
                        <a href="{{ path('app_trick_index') }}" class="btn btn-success btn-lg btn-block text-uppercase">
                            <i class="fa fa-arrow-left"></i> back to Trick Lists
                        </a>
                    </form> 
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Description -->
        <div class="col-12">
            <div class="card border-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-align-justify"></i> Description</div>
                <div class="card-body">
                    <p class="card-text">
                        {{trick.description}}
                    </p>
                </div>
            </div>
        </div>

        <!-- Revideoews -->
        <div class="col-12" id="reviews">
            <div class="card border-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-comment"></i> Comments</div>
                <div class="card">
                    {% for comment in paginations%}
                    <div class="comment-widgets">
                        <!-- Comment Row -->
                        <div class="d-flex flex-row comment-row mt-3">
                            <div class="p-2"><img src="{{asset('/uploads/'~comment.user.avatar)}}" alt="user" width="50" class="rounded-circle"></div>
                            <div class="comment-text w-100 mb-3">
                                <h6 class="font-medium" style="font-weight:bold;">{{comment.user.firstname|upper}} {{comment.user.lastname|upper}}</h6> 
                                <p>
                                  {% if comment.activated == 0 %} 
                                  <span class="badge badge-danger" style="float:left;">Inactive</span> 
                                  {% else %}
                                  <span class="badge badge-success" style="float:left;">Active</span>
                                  {% endif %}
                                </p>
                                <br>
                                <hr>
                                <span class="m-b-15 d-block">{{comment.content}}. </span>
                                <div class="comment-footer pr-2" style="font-weight:bold;"> <span class="text-muted float-right">published at: {{comment.createdAt|date('d/m/y à H:i:s')}}
                                </span>  
                                <a type="button" href="{{path('app_comment_activated',{'id':comment.id})}}" class="btn btn-success btn-sm">Publish</a>
                                <a type="button" href="{{path('app_comment_delete',{'id':comment.id})}}" class="btn btn-danger btn-sm">Delete</a> </div>
                                
                            </div>
                        </div> <!-- Comment Row -->
                    </div> <!-- Card -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
