{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="css/libs/nanoscroller.css" />
    <link rel="stylesheet" type="text/css" href="{{asset('css/theme_styles.css')}}" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
{% endblock %}
{% block admin %}
    <div class="container mb-5">
        <div class="row">
            {% if app.flashes is defined %}
                {% for message in app.flashes('error') %}
                <div class="col-lg-12 text-center">
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                </div>
                {% endfor %}
                {% for message in app.flashes('success') %}
                    <div class="col-lg-12 text-center">
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
           {% endif %}
            <div class="col-lg-12">
                <div id="content-header" class="clearfix">
                    <div class="float-left">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active"><span>Users</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box clearfix">
                    <div class="main-box-body clearfix">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><a href="#"><span>Photo</span></a></th>
                                        <th><a href="#" class="desc"><span>Firstname</span></a></th>
                                        <th><a href="#" class="desc"><span>Lastname</span></a></th>
                                        <th><a href="#" class="desc"><span>Email</span></a></th>
                                        <th><a href="#" class="desc"><span>Status</span></a></th>
                                        <th><a href="#" class="desc"><span>Actions</span></a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in paginations %}
                                        <tr>
                                            <td>
                                                <img src="{{user.avatar}}" alt=""  style="width:50px;height:50px;border-radius:5px;"/>
                                                <br>
                                                <span class="user-subhead text-primary" >
                                                    {% for role in user.roles %}
                                                        {% if role == 'ROLE_USER' %}
                                                        <span class="badge badge-primary" style="float:left;">User</span>
                                                        {% else %}
                                                        <span class="badge badge-success" style="float:left;">Admin</span>
                                                        {% endif %}
                                                    {% endfor %}
                                                </span>
                                            </td>
                                            <td>
                                                {{ user.firstname }}
                                            </td>
                                            <td>
                                                {{ user.lastname }}
                                            </td>
                                            <td>
                                                {{ user.email }}
                                            </td>
                                            <td class="text-center">
                                                {% if user.activated == 0 %}
                                                <span class="badge badge-danger" style="float:left;">Inactive</span>
                                                {% else %}
                                                <span class="badge badge-success" style="float:left;">Active</span>
                                                {% endif %}
                                                </td>
                                            <td style="width: 20%;">
                                                <a href="{{path('app_user_show',{'id':user.id})}}" class="table-link">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                                <a href="{{path('app_user_delete',{'id':user.id})}}" class="table-link danger">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                                <a href="{{path('app_user_edit',{'id':user.id})}}" class="table-link">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navigation">
			{{ knp_pagination_render(paginations) }}
		</div>
    </div>
{% endblock %}
